<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ngrader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Description of the page less than 150 characters">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-expand-md justify-content-between">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="/">Home <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/problems">Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/custom">Custom</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/api">APIs</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-sm-block"><a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img id="logo" src="/images/ngrader.png"></img></a></div>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <% if (user) { %>
                            <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container">
            <h2>APIs usage</h2>
            <p> <span class="api-info"><i class="fas fa-angle-double-down toggle-btn" id="toggle-0"></i> Get problems</span></p>
            <div class="api-desc" id="api-0">
                <p>
                    Return information (pid, tags, name, difficulty, solved) of all available problems.<br>
                    <b>Method:</b> <code><b>GET</b></code><br>
                    <b>URI:</b> <a href="/api/problems" target="_blank">/api/problems</a><br>
                    <b>Success response:</b><br>
                    <pre class="code-block">

    Code: 200
    [
        {
            "tags": [
                "implementation"
            ],
            "pid": 0,
            "name": "Hello ngrader",
            "difficulty": 0,
            "solved": 8
        },
        {
            "tags": [
                "implementation",
                "string"
            ],
            "pid": 1,
            "name": "Let's Count!",
            "difficulty": 0,
            "solved": 2
        }
    ]
                    </pre>
                </p>
            </div>

            <p> <span class="api-info"><i class="fas fa-angle-double-down toggle-btn" id="toggle-1"></i> Submit custom test</span></p>
            <div class="api-desc" id="api-1">
                <p>
                    Complie requested source code and return stdout, time and memory used.<br>
                    <b>Method:</b> <code><b>POST</b></code><br>
                    <b>URI:</b> <a href="#">/api/submit/custom</a><br>
                    <b>Request example:</b><br>
                    <pre class="code-block">

    {
        "sourcecode": "n=int(input());print(n**2)",
        "lang": "34",
        "input": "5"
    }
                    </pre>
                    <b>Success response:</b><br>
                    <pre class="code-block">

    Code: 200
    {
        "stdout": "25\n",
        "time": "0.02",
        "memory": 3048
    }
                    </pre>
                </p>
            </div>

            <p> <span class="api-info"><i class="fas fa-angle-double-down toggle-btn" id="toggle-2"></i> View submission</span></p>
            <div class="api-desc" id="api-2">
                <p>
                    Return specific submission of requested sid.<br>
                    <b>Method:</b> <code><b>GET</b></code><br>
                    <b>URI:</b> <a href="/api/submission/5b1645e061b0ef0014b2d974" target="_blank">/api/submission</a><br>
                    <b>Request example:</b><br>
                    <pre class="code-block">

    /api/submission/5b1645e061b0ef0014b2d974
                    </pre>
                    <b>Success response:</b><br>
                    <pre class="code-block">

    Code: 200
    {
        "result": {
            "str": "PPPP",
            "time": 0.024,
            "memory": 3007
        },
        "_id": "5b1645e061b0ef0014b2d974",
        "pid": 0,
        "lang": "Python (3.6.0)",
        "username": "Guest",
        "sourcecode": "a,b = map(int, input().split())\r\nprint(a+b)",
        "submit_time": "2018-06-05T08:12:16.750Z"
    }
                    </pre>
                    <b>Error response:</b><br>
                    <pre class="code-block">

    Code: 404
    {
        "error": "Submission not found."
    }
                    </pre>
                </p>
            </div>

            <p> <span class="api-info"><i class="fas fa-angle-double-down toggle-btn" id="toggle-3"></i> View languages</span></p>
            <div class="api-desc" id="api-3">
                <p>
                    Return all available languages, according to judge0 API.<br>
                    <b>Method:</b> <code><b>GET</b></code><br>
                    <b>URI:</b> <a href="/api/languages" target="_blank">/api/languages</a><br>
                    <b>Success response:</b><br>
                    <pre class="code-block">

    Code: 200
    [
        {
            "id": 1,
            "name": "Bash (4.4)"
        },
        {
            "id": 2,
            "name": "Bash (4.0)"
        },
        ...
        {
            "id": 43,
            "name": "Text (plain text)"
        }
    ]

                    </pre>
                </p>
            </div>
        </div>
        <footer>
            <p>© 2018 nGrader<br>If you have any suggestions, please contact nisaruj@hotmail.com</p>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        toggleStatus = [false, false, false, false, false]
        $('.toggle-btn').on('click', function() {
            getID = parseInt(this.id.substring(7))
            if (toggleStatus[getID]) {
                $('#api-' + getID).show()
                $('#toggle-' + getID).attr('class', 'fas fa-angle-double-down toggle-btn');
            }
            else {
                $('#api-' + getID).hide()
                $('#toggle-' + getID).attr('class', 'fas fa-angle-double-right toggle-btn');
            }
            toggleStatus[getID] = !toggleStatus[getID]
        })
    </script>
</html>
