<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ngrader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Description of the page less than 150 characters">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="homepage">
        <nav class="navbar navbar-default navbar-expand-md justify-content-between">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link pl-0" href="#">Home <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/problems">Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/custom">Custom</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-sm-block"><a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img id="logo" src="/images/ngrader.png"></img></a></div>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <% if (user) { %>
                            <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid header">
            <div class="header-body">
                <h1>Coding is fun</h1><br>
                <h6>Practice coding<br>with nGrader</h6>
            </div>
            <div class="header-desc">
                <p class="desc-text">
                    Hundreds of problems are waiting for you<br>
                    to improve your programming skill.<br><br>
                    No registration required. So, Try now for free!
                </p>
            </div>
            <div id="console-bar"></div>
            <div id="console-bg"></div>
            <div class="home-btn-group">
                <a class="btn btn-secondary" href="/problems" role="button">Try it out</a>
                <a class="btn btn-secondary" href="/register" role="button">Register</a>
            </div>
        </div>
        <div class="container-fluid homepage-block">
            <div class="container">
                <h4>Supports over 20 programming languages</h4>
                <div style="padding: 5px;">
                    <img src="/images/c_lang_logo.png" height="50" style="margin: 20px;">
                    <img src="/images/c++_lang_logo.png" height="50" style="margin: 20px;">
                    <img src="/images/java_lang_logo.png" height="50" style="margin: 20px;">
                    <img src="/images/python_lang_logo.png" height="50" style="margin: 20px;">
                    <img src="/images/ruby_lang_logo.png" height="50" style="margin: 20px;">
                </div>
                <p>We use Judge0 API for code compilation that<br>supports a lot of programming languages.</p>
                <button class="btn btn-primary" id="lang-hide-btn">View all supported languages</button>
                <div class="lang-hide" style="margin-top: 30px;">
                        <button class="btn btn-secondary lang-desc">C</button>
                        <button class="btn btn-secondary lang-desc">C++</button>
                        <button class="btn btn-secondary lang-desc">Java</button>
                        <button class="btn btn-secondary lang-desc">Python</button>
                        <button class="btn btn-secondary lang-desc">Ruby</button>
                    </div>
                <div class="lang-hide">
                    <button class="btn btn-secondary lang-desc">Basic</button>
                    <button class="btn btn-secondary lang-desc">C#</button>
                    <button class="btn btn-secondary lang-desc">JavaScript</button>
                    <button class="btn btn-secondary lang-desc">Haskell</button>
                    <button class="btn btn-secondary lang-desc">Pascal</button>
                </div>
                <div class="lang-hide">
                    <button class="btn btn-secondary lang-desc">Rust</button>
                    <button class="btn btn-secondary lang-desc">OCaml</button>
                    <button class="btn btn-secondary lang-desc">Erlang</button>
                    <button class="btn btn-secondary lang-desc">Elixir</button>
                    <button class="btn btn-secondary lang-desc">Clojure</button>
                </div>
            </div>
        </div>
        <div class="container-fluid homepage-block gray">
            <h4 style="color: black;">It's open source!</h4>
            <p class="scp">So check out the repository on GitHub if you<br>
                wanna upgrade your coding skill...
            </p>
            <div style="width: 50%;margin: auto;">
                <a class="btn btn-secondary" style="margin-top: 15px;" href="https://github.com/nisaruj/ngrader" target="_blank">I'm in!</a>
            </div>
        </div>
        <footer>
            <p>© 2018 nGrader<br>If you have any suggestions, please contact nisaruj@hotmail.com</p>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.clou dflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.lang-hide').hide();
        });
        $('#lang-hide-btn').click(function() {
            $('.lang-hide').toggle();
        });
    </script>
</html>
