<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ngrader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Description of the page less than 150 characters">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-expand-md justify-content-between">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="/">Home <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/problems">Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/custom">Custom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">APIs</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-sm-block"><a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img id="logo" src="/images/ngrader.png"></img></a></div>
            <div class="navbar-collapse collapse dual-nav w-100">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <% if (user) { %>
                            <a class="nav-link" href="/logout"><%= user.username %> <i class="fas fa-sign-out-alt"></i></a>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <h2>Problems</h2>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p><i class="fas fa-square" style="color: #2dc937"> Easy </i>&nbsp;&nbsp;<i class="fas fa-square" style="color: #e7b416"> Medium </i>&nbsp;&nbsp;<i class="fas fa-square" style="color: #cc3232"> Hard</i></p>
                        </div>
                        <div style="font-size: 20px;">
                            <i class="fas fa-th-large" id="toggle-grid"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-list" style="color: gray;" id="toggle-list"></i>
                        </div>
                    </div>
                    <div id="problem-list">
                        
                    </div> 
                    <div id="problem-grid">
                        
                    </div>  
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="side-box">
                        <div style="padding:10px;">
                            <div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-all">All</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-easy">Beginner</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-medium">Intermediate</button></div>
                                <div class="tab"><button class="btn btn-secondary tab" id="filter-hard">Professional</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>© 2018 nGrader<br>If you have any suggestions, please contact nisaruj@hotmail.com</p>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            let getCookie = function(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            let solved_pid = getCookie('solved_pid').split(',');
            console.log(solved_pid);
            let problemList;
            $('#problem-list').hide();
            let showProblem = function(res) {
                let html = '';
                let count = 0;
                const diff_color = ['#2dc937', '#e7b416', '#cc3232']; //[green, yellow, red]
                const solved_color = "#bbb";
                res.forEach(function(e) {
                    html += '<div class="problem-box" style="border-left-color: ' + (solved_pid.indexOf(e.pid.toString()) == -1 ? diff_color[e.difficulty] : solved_color) + ';" id="box-' + count + '">'
                    html += '<a class="problem-name" href="/problems/' + e.pid + '">' + e.name + '</a><div class="badge-group">';
                    e.tags.forEach(function(tag) {
                        html += '<a href="/problems/tag/' + tag.replace(' ','_') + '" class="badge badge-default">' + tag + '</a> '
                    })
                    html += '</div><div class="solved-count">Solved <i class="far fa-check-circle"></i> <b>' + e.solved + '</b></div>';
                    html += '<div class="solve-btn"><a role="button" class="btn btn-primary" href="/problems/' + e.pid + '">' + "Let's solve" + '</a></div>';
                    html += '<div class="ignore-btn" id="ignore-' + count++ + '">x</div>'
                    html += '</div>'
                })
                $('#problem-grid').html(html);
                let htmlListView = '<table class="table table-hover"><thead><tr><th scope="col">#</th><th scope="col">Problem Name</th><th scope="col">Tags</th> \
                                <th scope="col">Solved</th></tr></thead><tbody>';
                res.forEach(function(e) {
                    htmlListView += '<tr><th scope="row" style="color: ' + diff_color[e.difficulty] + '">' + e.pid + '</th>'
                    htmlListView += '<td><a href="/problems/' + e.pid + '">' + e.name + '</a></td><td>';
                    e.tags.forEach(function(tag) {
                        htmlListView += '<a href="/problems/tag/' + tag.replace(' ','_') + '" class="badge badge-default">' + tag + '</a> '
                    })
                    htmlListView += '</td><td>' + e.solved
                    htmlListView += '</td></tr>'
                })
                htmlListView += '</tbody></table>'
                $('#problem-list').html(htmlListView);
            }
            $.getJSON('/api/problems', function(res) {
                problemList = res;
                showProblem(res);
            })
            $('#filter-all').on('click', function() {
                showProblem(problemList);
            })
            $('#filter-easy').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 0;
                }))
            })
            $('#filter-medium').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 1;
                }))
            })
            $('#filter-hard').on('click', function() {
                showProblem(problemList.filter(function(e) {
                    return e.difficulty === 2;
                }))
            })
            $('#toggle-grid').on('click', function() {
                $('#problem-grid').show();
                $('#problem-list').hide();
                $('#toggle-grid').css("color", "black");
                $('#toggle-list').css("color", "gray");
            })
            $('#toggle-list').on('click', function() {
                $('#problem-grid').hide();
                $('#problem-list').show();
                $('#toggle-grid').css("color", "gray");
                $('#toggle-list').css("color", "black");
            })
            $(document).on('click', '.ignore-btn', function() {
                $('#box-' + this.id.substring(7)).hide();
                console.log('#box-' + this.id.substring(7));
            })
        });
    </script>
</html>
