/*COLORS*/

:root {
/*primary*/
    --plighter: #ffd368;
    --pmedium: #ffc937;
    --pdarker: #e9ab13;
    /*secondary*/
    --slighter: #1cb897;
    --smedium: #11ac8e;
    --sdarker: #118a75;
    /*tertiary (overrated word for grayish tone)*/
    --tlighter: #e6e7e8; /*light gray*/
    --tmedium: #8c8e90; /*dark gray*/
    --tdarker: #333333; /*the stylish black*/
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--smedium);
}

a:hover {
    color: var(--sdarker);
}

h2 {
    padding: 10px;
}

footer {
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    background-color: var(--tdarker);
    color: white;
    text-align: center;
    font-size: 13px;
}

#logo {
    width: 102px;
    height: 35px;
}

/* Navbar */

.navbar-default, .homepage {
    font-family: 'Source Code Pro', monospace;
}

.homepage .navbar-default {
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-default {
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-default .navbar-brand {
    color: var(--smedium);
}

.navbar-default .navbar-brand:hover {
    color: var(--sdarker);
}

.navbar-default .nav > li > a {
    color: black;
}

.navbar-default .nav > li > a:hover {
    color: var(--pmedium);
}

.navbar-default .nav > li.active > a {
    color: var(--pdarker);
}

/* Homepage */

.header {
    background-color: var(--pmedium);
    position: relative;
    padding: 50px;
    height: calc(100vh - 61px);
}

.header-body {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.header-body h1 {
    border-bottom: solid 2px black;
    border-width: 3px;
    padding: 4px 10px;
}

.header-desc {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 201;
}

.home-btn-group {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    z-index: 202;
}

.desc-text {
    color: white;
    font-size: 1.5vw;
}

#console-bg {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 50%;
    background-color: black;
    z-index: 199;
    transform: translate(-50%, 0%);
}

#console-bar {
    position: absolute;
    width: 50%;
    height: 9%;
    left: 50%;
    bottom: 50%;
    background-image: url("/images/consoleBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 300;
    transform: translate(-50%, 0%);
}

.homepage-block {
    padding: 50px 0;
    text-align: center;
}

.btn-lang-desc {
    background-color: var(--tmedium);
}

.lang-desc {
    width: 125px;
    padding: 0 5px;
    text-align: center;
}

.lang-hide {
    margin: 10px;
}

/* General */

.gray {
    background-color: var(--tlighter);
}

.badge-default {
    background-color: var(--smedium);
    color: white;
}

.badge-default:hover {
    color: white;
}

.btn {
    border-style: solid;
    border-radius: 0;
    padding: 10px 15px;
}

.btn-primary {
    background-color: var(--pmedium);
    border-color: var(--pmedium);
    color: white;
}

.btn-primary:hover {
    background-color: var(--pdarker);
    border-color: var(--pmedium);
}

.btn-secondary {
    background-color: var(--smedium);
    border-color: var(--smedium);
    color: white;
}

.btn-secondary:hover {
    background-color: var(--sdarker);
    border-color: var(--smedium);
}

.btn-tweet {
    background-color: #08a0e9;
    color: white !important;
}

.tab {
    width: 100%;
    margin-bottom: 3px;
}

.side-box {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #DFE2E6;
    background-color: white;
}

/* Problem */

.problem-name {
    font-size: 22px;
    padding: 10px 0;
    font-weight: 600;
}

.problem-box {
    margin: 15px 0;
    background-color: #f9f9f9;
    padding: 20px 5px;
    padding-left: 30px;
    border-left-style: solid;
    border-left-color: gray;
    border-left-width: 5px;
    position: relative;
}

.problem-box:hover {
    background-color: #f2f2f2;
}

.solved-count {
    margin-top: 5px;
    font-size: 14px;
}

.solve-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
}

.example {
    padding: 7px;
}
  
.example pre {
    padding: 0;
    margin: 0;
}
  
.example .title {
    background-color: #e0e0e0;
    width: 100%;
    font-weight: 600;
}
  
.example .data {
    background-color: white;
    width: 100%;
    padding: 0;
}

#submit-lang, #select-file {
    width: 100%;
    margin: 5px 0;
}

/* Admin */

#test-input, #test-output {
    width: 100%;
}

@media only screen and (max-width: 375px) {
    .solve-btn {
        position: static;
    }
}

@media only screen and (max-width: 865px) {
    #console-bg {
        width: 80%;
    }
    #console-bar {
        width: 80%;
    }
    .header-body h1 {
        font-size: 6vw;
    }
    .desc-text {
        font-size: 3vw;
    }
    .homepage .btn {
        width: 100%;
        margin: 5px;
    }
}

@media only screen and (max-width: 670px) {
    #console-bg {
        width: 80%;
    }
    #console-bar {
        width: 80%;
    }
    .homepage .btn {
        width: 100%;
        margin: 5px;
    }
}