/*FONTS*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f8f8f8;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

a {
  color: var(--smedium);
}

a:hover {
  color: var(--smedium);
}

#homepage h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#homepage h2,h3,h4,h5,h6 {
  font-family: 'Source Code Pro', monospace;
}

#homepage a {
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-weight: 600;
}

/*exception*/
.scp {
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 0;
}

/*COLORS*/

:root {
  /*primary*/
    --plighter: #ffd368;
    --pmedium: #ffc937;
    --pdarker: #e9ab13;
    /*secondary*/
    --slighter: #1cb897;
    --smedium: #11ac8e;
    --sdarker: #118a75;
    /*tertiary (overrated word for grayish tone)*/
    --tlighter: #e6e7e8; /*light gray*/
    --tmedium: #8c8e90; /*dark gray*/
    --tdarker: #333333; /*the stylish black*/
}

/*NavBar*/

.navbar {
  padding: 0px;
}

#navbar-logo {
  color: var(--smedium);
  font-size: 20px;
}

.navbar li a {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85em;
  color: black !important;
}

.navbar li a:hover {
  color: var(--tmedium);
}

.navbar li.active a {
  display: inline-block;
  position: relative;
  z-index: 1;
}

/*border postion*/
.navbar li.active a::before {
  content: '';
  position: absolute;
  left: 5;
  display: inline-block;
  height: 0.2px;
  width: 66%;
  border-bottom: 3.5px var(--pmedium) solid;
  margin-top: 12px;
  z-index: -1;
}

.mr-auto {
  margin-right: 320px !important;
}

.ml-auto {
  margin-left: 350px !important;
  padding-left: 160px !important;
}

/*Header*/
.headertext {
  border-bottom: 5px solid black;
}

.subheader {
  text-align: left;
  margin-top: 30px;
}

.header {
    background-color: var(--pmedium);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    color: black;
}

.header-container {
    margin: auto;
    text-align: center;
    padding: 10%;
    padding-bottom: 0px;
    margin-bottom: 0;
    width: 80%;
}

/*desktop-laptop header width*/
@media screen
  and (min-device-width: 1080px)
  and (max-device-width: 1920px) {
    .headerbody {
      text-align: center;
      width: 345px;
      margin-left: 25%;
    }
}

.description {
  padding-top: 85px;
  height: 330px;
  background-image: url("consoleBG.png");
  background-size: contain;
  background-repeat:no-repeat;
}

.descriptiontext {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color: white;
  text-align: left;
  padding-left: 30px;
}

/*Buttons*/

.btn {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
  border-radius: 0px;
  transition: 0.3s;
}

.btn-cyan {
  background-color: var(--smedium);
  border: 4px solid var(--smedium);
  margin-right: 15px;
}

.btn-primary {
  background-color: var(--pmedium);
  border: 4px solid var(--pmedium);
}

.btn-primary:hover {
  background: none;
  border: 4px solid var(--pmedium);
}

.btn-cyan.secondary {
  background: none;
}

.btn-cyan:hover {
  background: none;
  border: 4px solid var(--sdarker);
  color: white;
}

.btn-cyan.secondary:hover {
  background-color: var(--sdarker);
}

.hoverblack:hover {
  color: black;
}

textarea {
    width: 100%;
    height: 100px;
    font-size: 12px;
}

footer {
    padding: 20px;
    height: 100px;
    margin: auto;
    background-color: #333;
}

table {
    font-size: 14px;
}

.p3 {
  width: 100% !important;
  background-color: var(--tlighter);
  padding: 20px;
}

.footer {
  text-align: center;
  height: 40px;
  color: white;
  font-size: 0.75em;
  padding-top: 12px;
  background-color: var(--tdarker);
}

.gray-block {
    background-color: #fcfcfc;
}

.bd1-container {
    margin: auto;
    text-align: center;
    padding: 3rem;
    color: #666;
    width: 80%;
}

.bd1-container p {
    padding: 10px;
}

.primary-color {
    background-color: #00aa8d;
}

.fb-login {
    width: 200px;
}

.tab {
    padding: 3px;
}

.btn-gray {
    background-color: #d3d3d3;
    margin-right: 5px;
    margin-left: 5px;
    color: #333;
    width: 100px;
}

.btn-gray:hover {
    background-color: #ebebeb;
    color: #333;
}

.lang-hide {
    padding-top: 5px;
    padding-bottom: 5px;
}

.firstline {
  padding-top: 30px;
}

#lang-hide-btn {
    color: black;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
 }

.prob-desc {
    padding: 10px;
}

.submission-box {
   background-color: #fcfcfc;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.submission-box p {
    font-weight: 500;
    font-size: 12px;
    color: #999;
}

.submission-header {
    font-weight: 600;
    font-size: 15px;
}

.badge-green {
    background-color: #50c3ae;
    color: #fff;
    font-weight: 300;
}

.badge-green:hover {
    background-color: #008975;
    color: #fff;
}

.example {
    padding: 7px;
}

.example pre {
    padding: 0;
    margin: 0;
}

.example .title {
    background-color: #e0e0e0;
    width: 100%;
    font-weight: 600;
}

.example .data {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
}

.navpill {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    background-color: #999;
}

#submit-lang {
    width: 100%;
    padding: 5px;
}

#select-file {
    padding: 5px;
}

#submit-button {
    padding: 5px;
}
